/* Estilos del cuerpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    flex-direction: column;
    text-align: center;
}

/* Estilo de clase */
.boton {
    background-color: #025a94;
    color: white;
    font-size: 18px;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* Efecto hover */
.boton:hover {
    background-color: #021553;
    transform: scale(1.1);
}